

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navbar-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  
} */
.round-container {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  

}
.circle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.achievements{
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #186e6e;
  height: 200px;
  width: 600px;
  color: aliceblue;
  border-radius: 1rem;
}
.img-thumbnail{
  height: 200px;
  width: 200px;
}
.profiles{
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
  gap:40px;
  height: 400px;
  width: 600px;
  border-radius: 1rem;
}
.leetcode img{
  height: 200px;
  width: 200px;
  /* background-color: aqua; */
}
.codechef img{
  height: 200px;
  width: 200px;
  /* background-color: rgb(7, 12, 0); */
  border: 10px soild green;
}
.profiles-cont{
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
  
}
